.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.clearfix {
    display: inline-block;
}


/* start commented backslash hack \*/

* html .clearfix {
    height: 1%;
}

.clearfix {
    display: block;
}

html {
    height: 0%;
    margin: 0;
    padding: 0;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    height: 100%;
    margin: 0;
    background-color: #f2f2f2;
   
}

@keyframes bodybg {
    from {top: 200px;
    
    }
    to {top: 0px;}
    
}

@keyframes flash2 {
    from {height: 100%;
      }
    to {height: 0%;
    }
}

.flash2 {
    display: none;
    position: absolute;
    z-index: 8;
    height: 100%;
    background-color: #f2f2f2;
    width: 100%;
display: block;
    animation:flash 1s forwards, flash2 0.8s forwards;
    animation-delay: 0s, 0.2s;
}


.bg {
    z-index: 0;
    position: absolute; 
    width: 100%; 
    /* The image used */
    background-image: url('../img/aboutme.png');

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-size: cover;
    animation:  opacity 0.7s ease forwards;
    animation-delay: 0s, 0s
}



@keyframes border {
    from {
        transform: scale(1.2);
    }
    to {
        transform: scale(1);
    }
}

.wrap {
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: white;
    height: 850px;
    width: 1780px;
    margin-top: -420px;
    /* Half the height */
    margin-left: -890px;
    /* Half the width */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation: border 0.3s forwards;
    animation-delay: 1s;
    transform: scale(1.2);
    
    
}

/*------------- graphic design ---------*/
/*------------- graphic design ---------*/

/*------------- graphic design ---------*/

/*------------- graphic design ---------*/

/*------------- graphic design ---------*/

/*----------------contact -------------*/

/*----------------contact -------------*/

/*----------------contact -------------*/

/*----------------contact -------------*/

/*----------------contact -------------*/



@keyframes position6 {
    from {margin-top: 70px;}
    to {margin-top: 0px;}
}

@keyframes position7 {
    from {margin-top: -100px;}
    to {margin-top: -190px;}
}

@keyframes displayed {
    from {display: none;}
    to {display: flex;}
    
}

@keyframes flash {
    from {opacity: 1;
      }
    to {opacity: 0;
    }
}

@keyframes flash2 {
    from {height: 100%;
      }
    to {height: 0%;
    }
}

.flash {
    display: none;
    position: absolute;
    z-index: 8;
    height: 100%;
    background-color: white;
    width: 100%;
display: block;
    animation:flash 1s forwards, flash2 0.6s forwards;
    animation-delay: 0s, 0.5s;
}

.tryform {
    z-index:0;
    height: 00px;
    width: 100%;
    position: relative;
    top: 90px;
    background-color: aqua;
}

.form {
    position:relative;
    z-index: 2;
    opacity: 0;
    height: 200px;
    width: 55%;
    margin-right: -40px;
    top: 260px;
    animation: position 1s ease forwards, opacity 1s forwards;
    text-align: center;
    float: right;
   
}

@keyframes scale {
    from {transform: scale(0)};
    to {transform: scale(1)}
}

.contact {
    z-index: 3;
    position: relative;
    opacity: 1;
    height: 10px;
    width: 40%;
    margin-top: 0px;
    right: 3%;
    font-family: 'Source Sans Pro', sans-serif;
    color: #FF9600;
    width: 600px;
    font-size: 27vw;
    padding-right: 40%;
    font-size: 94px;
    user-select: none;
    letter-spacing: 2vw;
    text-align: center;
}

.email {
    z-index: 1;
    position: relative;
    opacity: 1;
    height: 10px;
    font-family: cursive;
    margin-top: 130px;
    margin-left: -67px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #FF9600;
    width: 600px;
    font-size: 19px;
    user-select: none;
    letter-spacing: 0.2vw;
    text-align: center;
}

.gmail {
    position: relative;
    right: 50%; 
    top: 200px;
    height: 70px;
}

.linkedin {
    position: relative;
    right: 50%; 
    top:40px;
    height: 70px;
}

.linked {
    z-index: 1;
    position: relative;
    opacity: 1;
    height: 10px;
    font-family: cursive;
    margin-top: -20px;
    margin-left: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #FF9600;
    width: 600px;
    font-size: 19px;
    user-select: none;
    letter-spacing: 0.2vw;
    text-align: center;
}

#contact-form {
    clear: both;
    float: inherit;
}


form {
    float: left;
    opacity: 0;
        position: absolute; 
        left: 46%;
        width: 600px;
        top: 270px;
    background: transparent; 
    animation: position 1s ease forwards, opacity 1s forwards; 
    animation-delay: 0s;
    }

    .form-control {
        float: left;
        width: 600px; 
        background: transparent;
        border: none; 
        outline: none;
        border-bottom: 3px solid #ff9600;
        color: black;
        font-size: 18px; 
        margin-top: 50px;
    }

#message {
   font-family: 'Source Sans Pro', sans-serif;
    font-size: 22px;
    color: black;
   
}

#send {
    border: solid #ff9600 0px;
    color: #ff9600;
    padding: 10px;
    letter-spacing: 10px;
    transition: all 0.3s ease;
} 

#send:hover {
    border: solid #ff9600 4px;
    color: #ff9600;
} 


@media only screen and (max-width: 1024px) {
    
    
    .email {
    z-index: 1;
    position: relative;
    opacity: 1;
    height: 10px;
    font-family: cursive;
    margin-top: 30px;
        top: 120px;
    margin-left: -7px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #FF9600;
    width: 600px;
    font-size: 19px;
    user-select: none;
    letter-spacing: 4.4px;
    text-align: center;
}
    
    .form {
    opacity: 0;
    height: 100px;
    width: 100px;
    position: relative;
    top: 200px;
        right: 64%;
    animation: position 1.1s ease forwards, opacity 1s forwards;
    animation-delay: 0s;
    text-align: center;
   
}
    
    .contact {
        top: 70px;
    position: relative;
    opacity: 1;
    height: 70px;
    font-family: cursive;
    font-family: 'Source Sans Pro', sans-serif;
    color: #FF9600;
    width: 100%;
    font-size: 52px;
    user-select: none;
    letter-spacing: 22px;
}
    

    form {
    opacity: 0;
        position: absolute;
          display: flex;
  flex-wrap: wrap;
        left: 16%;
        width: 70%;
        top: 140px;
    background: transparent; 
    animation: position 1s ease forwards, opacity 0.5s forwards; 
    animation-delay: 0s;
    }

    .form-control {
        width: 60vw; 
        background: transparent;
        border: none; 
        outline: none;
        border-bottom: 3px solid #ff9600;
        color: black;
        font-size: 118%; 
        margin-top: 50px;
    }
    
#send {
    margin-left: -10px;
    border: solid #ff9600 0px;
    color: #ff9600;
    padding: 10px;
    letter-spacing: 1.5vw;
    transition: all 0.3s ease;
} 

#send:hover {
    border: solid #ff9600 4px;
    color: #ff9600;
} 
    
    .email {
    z-index: 3;
        display: inline-block;
    position: relative;
    opacity: 1;
    height: 10px;
    width: 40%;
    font-family: cursive;
    margin-top: -230px;
    margin-left: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #FF9600;
    width: 100%; 
    font-size: 1.8vw;
    font-size: 21px;
    user-select: none;
    letter-spacing: 0.6vw;
    text-align: center;
}
    
        .gmail {
    position: relative;
    right: 100%; 
    top: 160px;
    height: 59px;
}

    .linkedin {
        
    right: 100%; 
    top:160px;
    height: 59px;
}

.linked {
    z-index: 3;
        display: inline-block;
    opacity: 1;
    height: 10px;
    width: 40%;
    font-family: cursive;
    margin-top: 110px;
    margin-left: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #FF9600;
    width: 100%; 
    font-size: 1.8vw;
    font-size: 14px;
    user-select: none;
    letter-spacing: 0.36vw;
    text-align: center;
}
        #overlaybg {
    display: none;
    z-index: 10;
    position: fixed; 
    margin-top: 0px;
    height: 100%;
    top: 90px;
    width: 100%; 
    background-color: black;
    opacity: 0.5;
}
    
}

@media only screen and (max-width: 500px) { 
    
    .form {
    opacity: 0;
    height: 100px;
    width: 100px;
    position: relative;
    top: 40px;
        right: 64%;
    animation: position 1.1s ease forwards, opacity 1s forwards;
    animation-delay: 0s;
    text-align: center;
   
}

#send {
    border: solid #ff9600 0px;
    color: #ff9600;
    padding: 10px;
    padding-right: 20px;
    letter-spacing: 1.5vw;
    transition: all 0.3s ease;
} 

#send:hover {
    border: solid #ff9600 4px;
    color: #ff9600;
} 
    
    .email {
    z-index: 3;
    opacity: 1;
    height: 10px;
    width: 40%;
    font-family: cursive;
    margin-top: -35px;
    margin-left: 0px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #FF9600;
    width: 100%; 
    font-size: 1.8vw;
    font-size: 14px;
    user-select: none;
    letter-spacing: 0.6vw;
    text-align: center;
}
    
    .form-control {
        width: 60vw; 
        background: transparent;
        border: none; 
        outline: none;
        border-bottom: 3px solid #ff9600;
        color: black;
        font-size: 98%; 
        margin-top: 50px;
    }
    
     .contact {
s
    opacity: 1;
    height: 40px;
    width: 40%;
    font-family: cursive;
    margin-top: 20px;
         margin-left: 5px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #FF9600;
    width: 100px;
    font-size: 32px;
    user-select: none;
    letter-spacing: 2.6vw;
    text-align: center;
}
    
    #overlaybg {
    display: none;
    z-index: 10;
    position: fixed; 
    margin-top: 0px;
    height: 100%;
    top: 90px;
    width: 100%; 
    background-color: black;
    opacity: 0.5;
}
    
    .gmail {
   
    right: 70%; 
    top: 145px;
    height: 29px;
}

.linkedin {
    
    
    right: 70%; 
    top:154px;
    height: 29px;
}

.linked {
    z-index: 3;
        display: inline-block;
    opacity: 1;
    height: 10px;
    width: 40%;
    font-family: cursive;
    margin-top: 130px;
    margin-left: 0px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #FF9600;
    width: 100%; 
    font-size: 1vw;
    font-size: 11px;
    user-select: none;
    letter-spacing: 0.2vw;
    text-align: center;
}
}







/*----------------splash------------*/

/*----------------splash------------*/

/*----------------splash------------*/

/*----------------splash------------*/

/*----------------splash------------*/

@keyframes intro {
    from {
        margin-top: -170px;
    }
    to {
        margin-top: -200px;
    }
}

.logo {
    position: fixed;
    top: 50%;
    left: 50%;
    height: 300px;
    margin-top: -170px;
    /* Half the height */
    margin-left: -270px;
    /* Half the width */
    animation: intro 0.3s forwards;
    animation-delay: 1s;
}

.text {
    opacity: 0;
    font-family: 'Source Sans Pro', sans-serif;
    color: #FF9600;
    font-size: 19pt;
    height: 6%;
    margin-top: -3px;
    /* Half the height */
    margin-left: -7px;
    /* Half the width */
    user-select: none;
    padding-bottom: 50px;
    padding-top: 16px;
    padding-left: 18px;
    letter-spacing: 9px;
    transition: all .2s ease-in-out;
    animation: opacity 0.3s forwards;
    animation-delay: 1s;
}

.text:hover {
    font-family: 'Source Sans Pro', sans-serif;
    color: #ff9600;
    font-size: 19pt;
    height: 6%;
    margin-top: -3px;
    /* Half the height */
    margin-left: -9px;
    /* Half the width */
    border: 50px;
    user-select: none;
    padding-bottom: 50px;
    padding-top: 16px;
    padding-left: 18px;
    transform: scale(1.01);
}

.enter {
    height: 60px;
    width: 128px;
    border-style: solid;
    border-color: #f2f2f2;
    border-width: 0px;
    display: inline-block;
    font-size: 25pt;
    position: fixed;
    top: 50%;
    left: 50%;
    padding-top: 2s0px;
    margin-top: 240px;
    /* Half the height */
    margin-left: -90px;
    /* Half the width */
    transition: all .2s ease-in-out;
   
}

@keyframes stretchy {
    from {
        width: 0px;
    }
    to {
        width: 130px;
    }
}

.enter:hover {
    width: 126px;
    border: solid;
    border-color: #ff9600;
    border-width: 4px;
    position: fixed;
    font-size: 25pt;
    top: 50%;
    left: 50%;
    height: 60px;
    margin-top: 237px;
    /* Half the height */
    margin-left: -92px;
    /* Half the width */
    animation: opacity 0.3s forwards;
    animation-delay: 1.5s;
}

@keyframes opacity {
    from {
        background-color: white;
    }
    to {
        background-color: #ff9600;
    }
}

@media only screen and (max-width: 500px) {
    .logo {
        position: fixed;
        top: 60%;
        left: 50%;
        height: 150px;
        margin-top: -200px;
        /* Half the height */
        margin-left: -125px;
        /* Half the width */
    }
    .text {
        font-family: 'Source Sans Pro', sans-serif;
        color: #FF9600;
        font-size: 12pt;
        height: 11px;
        width: 100%;
        margin-top: 2px;
        /* Half the height */
        /* Half the height */
        margin-left: 1px;
        /* Half the width */
        user-select: none;
        padding-left: 14px;
        padding-top: -13px
    }
    .text:hover {
        font-family: 'Source Sans Pro', sans-serif;
        color: #ff9600;
        font-size: 12pt;
        height: 11px;
        margin-top: -2px;
        /* Half the height */
        margin-left: 4px;
        /* Half the width */
        border: 50px;
        user-select: none;
        padding-top: 18px;
        padding-left: 7px;
        transform: scale(1.08)
    }
    
    .enter {
        position: fixed;
    height: 60px;
    width: 100px;
    border-style: solid;
    border-color: #f2f2f2;
    border-width: 0px;
    display: inline-block;
    font-size: 25pt;
    position: fixed;
    top: 30%;
    left: 50%;
    margin-top: 240px;
    /* Half the height */
    margin-left: -60px;
    /* Half the width */
    transition: all .2s ease-in-out;
    animation: opacity 0.3s forwards;
    animation-delay: 1s;
}
    .enter:hover {
        position: fixed;
        height: 60px;
        width: 100px;
        border-style: solid;
        border-color: #ff9600;
        border-width: 3px;
        position: fixed;
        font-size: 25pt;
        top: 30%;
        left: 50%;
        height: 50px;
        margin-top: 240px;
        /* Half the height */
        margin-left: -60px;
        /* Half the width */
        animation-name: opacity;
        animation-duration: 0.4s;

    }
}


/* ------------------------------------------- about page ----------------------------------------------------- */


/* ------------------------------------------- about page --------------------------------------------------- */


/* ------------------------------------------- about page -------------------------------------------------- */


/* ------------------------------------------- about page ---------------------------------------------------- */

.ghost {
    position: relative;
    top: 10px;
    height: 200px;
    width: 100%;
}
.hello2{
    z-index: 2;
    position: absolute; 
    top: -100px;


}

.aboutme2{
    z-index: 1;
    position: absolute; 
    top: -100px;
    height: 1200px;
}

.logoabout {
    position: absolute;
    z-index: 14;
    top: 0px;
    height: 200px;
    margin-top: 60px;
    /* Half the height */
    margin-left: 60px;
    /* Half the width */
    -webkit-animation: opacity 1s forwards;
     -o-animation: opacity 1s forwards;
    animation: opacity 1s forwards;
    animation-delay: 0.1s;
    opacity: 0;
}

.navbar {
    height: 150px;
    width: 100%;
    position: absolute;
    top: 10px;
}

.bodyfull {
    position: fixed;
    z-index: 5;
    top: 0px;
    opacity: 0;
    height: 100%;
    width: 450px;
    background-color: white;
    -webkit-animation: opacity 0.1s forwards;
    -o-animation: opacity 0.1s forwards;
    -moz-animation: opacity 0.1s forwards;
    animation: opacity 0.1s forwards;
    animation-delay: 0.1s;
}

@keyframes reveal {
    from {
        height: 1080px;
    }
    to {
        height: 0px;
    }
}

@keyframes opacity {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes position {
    from {
        margin-top: 90px;
    }
    to {
        margin-top: 50px;
    }
}

@keyframes position2 {
    from {
        margin-top: 360px;
    }
    to {
        margin-top: 320px;
    }
}

.navdiv {
    z-index: 5;
    opacity: 0;
    height: 60px;
    width: 400px;
    left: 00px;
    top: 0%;
    text-decoration: none;
    transition: .5s ease;
    margin-top: 370px;
    animation: opacity 1s forwards;
    animation-delay: 0.1s;
    position: fixed;
}

ul {
    z-index: 3;
    margin: 0px;
    padding: 0px;
}

ul li {
    z-index: 3;
    list-style: none;
}

ul li a {
    z-index: 3;
    display: block;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    margin-bottom: 20px;
    margin-left: 0px;
    color: white;
    width: 250px;
    height: 45px;
    padding-left: 70px;
    margin-left: 0px;
    transition: .3s ease;
    color: #ff9600;
    letter-spacing: 3px;
    line-height: 40px;
}

ul li a:hover {
    z-index: 3;
    background-color: white;
    width: 220px;
    color: white;
    background-color: #ff9600;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

ul li a:active {
    height: 70px;
}

.mask {
    z-index: 4;
    position: fixed;
    top: 0px;
    opacity: 0;
    height: 100%;
    width: 450px;
    background-color: white;
    animation: opacity 0.1s forwards;
    animation-delay: 0.1s;
    box-shadow: 0 14px 18px 0 rgba(0, 0, 0, 0.2), 0 16px 120px 0 rgba(0, 0, 0, 0.19);
}


@keyframes position3 {
    from {
        top: 100px;
    }
    to {
        top: 0px;
    }
}

@keyframes opacity2 {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes position4 {
    from {
        top: 370px;
    }
    to {
        top: 340px;
    }
}

@keyframes position5 {
    from {
        top: 530px;
    }
    to {
        top: 500px;
    }
}

@keyframes queryposition {
    from {
        top: 80px;
    }
    to {
        top: 0px;
    }
}

@keyframes queryposition2 {
    from {
        top: 430px;
    }
    to {
        top: 400px;
    }
}





.hamburger {
    z-index: 6;
    position: relative;
    opacity: 0;
    
clear: both;
  margin-top: 300px;
  max-width: 100%;
  margin: 0 auto;
  display: block;
}


.hello {
    z-index: 2;
    position: relative;
    opacity: 0;
    font-family: 'Source Sans Pro', sans-serif;
    color: #FF9600;
    width: 600px;
    font-size: 95pt;
    user-select: none;
    letter-spacing: 60px;
    animation: position 1s ease forwards, opacity 0.1s forwards;
    animation-delay: 0s;
    margin-left: 400px;
    top: 300px;
    padding-left: 25%;
        padding-right: 25%;
}

.aboutme {
    z-index: 2;
    opacity: 0;
    position: relative;
    display: block;
    font-family: 'Source Sans Pro', sans-serif;
    color: #FF9600;
    user-select: none;
    font-size: 15pt;
    width: 32em;
    margin-left: 420px;
    top: 400px;
    padding-left: 25%;
        padding-right: 25%;
    padding-bottom: 0px;
    animation: position 1s forwards ease, opacity 1s forwards;
    animation-delay: 0s;
}

.bg {
        position: fixed;
    top: -3px;
    }

@media only screen and (max-width: 1520px) {
    
    .bg {
        position: fixed;
    }
    .aboutme {
        position: relative;
        opacity: 0;
        z-index: 2;
        font-family: 'Source Sans Pro', sans-serif;
        color: #FF9600;
        font-size: 13pt;
        user-select: none;
        width: 35%;
        display: inline-block;
        margin-left: 332px;
        animation: opacity 1s forwards, position5 1s forwards;
        padding-bottom: 70px;
        animation-delay: 0.3s;
    }
    .hello {
        position: relative;
        z-index: 2;
        opacity: 0;
        width: 400px;
        font-family: 'Source Sans Pro', sans-serif;
        color: #FF9600;
        font-size: 65pt;
        user-select: none;
        margin-left: 330px;
        letter-spacing: 3vw;
        animation: opacity 1s forwards, position4 1s forwards;
        animation-delay: 0.3s;
        
        
    }
    
    
}

@media only screen and (max-width: 1024px) {
    
    .bg {
        position: fixed;
    }
    .navdiv {
        display: none;
        opacity: 0;
    }
    .navbar {
        display: none;
        z-index: 5;
        height: 80px;
        width: 100%;
        background-color: white;
        position: relative;
        animation: opacity 0.1s forwards;
        animation-delay: 0.1s;
    }
    .hamburger {
        z-index: 6;
        position: relative;
        height: 30px;
        margin-top: 300px;
        /* Half the height */
        margin-left: 900px;
        /* Half the width */
        animation: opacity 1s forwards;
        animation-delay: 0.1s;
        top: -270px;
        opacity: 0;
        float: right;
        overflow: auto;
        left: -20px;
        transition: all 0.4s ease;
    }
    

    .hamburger:hover {
        transform: scale(1.08);
        transition: all 0.1s ease;
         z-index: 6;
        position: relative;
        height: 30px;
        margin-top: 300px;
        /* Half the height */
        margin-left: 900px;
        /* Half the width */
        animation: opacity 1s forwards;
        animation-delay: 0.1s;
        top: -270px;
        opacity: 0;
        clear: both;
        float: right;
        overflow: auto;
        left: -20px;
    }
    .logoabout {
        z-index: 4;
        position: absolute;
        height: 80px;
        margin-top: 230px;
        /* Half the height */
        margin-left: 900px;
        /* Half the width */
        animation: opacity 1s forwards;
        animation-delay: 0.1s;
        top: -229px;
        opacity: 0;
        clear: both;
        float: right;
        overflow: auto;
        left: -874px;
    }
    .hello {
      display: none;
        letter-spacing: 3vw;

    }
    .aboutme {
       display: none;
    }
    .mask {
        opacity: 0;
        height: 90px;
        width: 100%;
        background-color: white;
        position: fixed;
        animation: opacity 0.1s forwards;
        animation-delay: 0.1s;
        display: block;
    }
    
    
    .hello2 {
        opacity: 0;
        color: #ff9600;
        top: 350px;
        font-family: 'Source Sans Pro', sans-serif;
        animation: opacity 1s forwards, position4 1s forwards;
        padding-left: 25%;
        padding-right: 40%;
        margin-right: -110px;
        font-size: 10vw;
        letter-spacing: 5vw;
        animation-delay: 0s;
        text-align: center;
        height: 120px;
        position: relative;
    
     
}
    
    @keyframes queryposition3 {
    from {
        top: 660px;
    }
    to {
        top: 630px;
    }
}

.aboutme2 {
    z-index: 2; 
     opacity: 1;
        color: #ff9600;
        font-family: 'Source Sans Pro', sans-serif;
    top: 450px;
        animation: opacity 1s forwards,position5 1s forwards;
        font-size:calc(11px + 0.9vw);
        animation-delay: 0s;
        height: 280px;
       width: 50%;
    padding-left: 25%;
        padding-right: 45%;
    margin-right: 300px;
    text-align: justify;
    position: relative;
    
} 
    
}

@media only screen and (max-width: 540px) {
    
  .hello2 {
      z-index: 2;
        position: relative;
        opacity: 0;
      top: 200px;
        color: #ff9600;
        font-family: 'Source Sans Pro', sans-serif;
        animation: position 1s forwards, opacity 1s forwards;
        padding-left: 25%;
        padding-right: 15%;
        margin-right: 70px;
      width: 54vmin;
        font-size: 10vw;
        letter-spacing: 30px;
        animation-delay: 0s;
        text-align: center;
        height: 120px;
      letter-spacing: 6vw;
    
     
}
    
    .aboutme2 {
        z-index: 2;
    position: relative; 
     opacity: 0;
        top: 300px;
        color: #ff9600;
        font-family: 'Source Sans Pro', sans-serif;
        animation: position4 1s forwards, opacity 1s forwards;
        font-size:calc(12px + 1vw);
        animation-delay: 0s;
        height: 30vw;
       width: 250px;
    padding-left: 25%;
        padding-right: 25%;
    text-align: justify;
        word-wrap: break-word;
    white-space: normal;
    
} 
    
    .bg {
        position: fixed;
    }
    

  
    
}

@media only screen and (max-width: 400px) {
    
  .hello2 {
      z-index: 2;
        position: relative;
        opacity: 0;
      top: 190px;
        color: #ff9600;
        font-family: 'Source Sans Pro', sans-serif;
        animation: position6 1s forwards, opacity 1s forwards;
        padding-left: 8%;
        padding-right: 15%;
      width: 54vw;
        font-size: 10vw;
        letter-spacing: 30px;
        text-align: center;
        height: 120px;
      max-width: 100%;
height: 4vw;
      margin: 0 auto;
      letter-spacing: 8vw;
    
     
}
    
    .aboutme2 {
        z-index: 2;
    position: relative; 
     opacity: 0;
        color: #ff9600;
        font-family: 'Source Sans Pro', sans-serif;
        animation: opacity 1s forwards;
        top: 310px;
        font-size:calc(12px + 1vw);
        
        height: 70vw;
       width: 70vw;
    padding-left: 15%;
        padding-right: 24%;
    text-align: justify;
        word-wrap: break-word;
    white-space: normal;
        height: 84vw;;
        display: block;
        flex-wrap: wrap;
    
} 
  
    .bg {
        position: fixed;
    }
    
}


/* ----------------- work ----------------------------------------*/

/* ----------------- work ----------------------------------------*/

/* ----------------- work ----------------------------------------*/

/* ----------------- work ----------------------------------------*/

/* ----------------- work ----------------------------------------*/

/* ----------------- work ----------------------------------------*/

/* ----------------- work ----------------------------------------*/


.container {
  height: 75%;
    width: 89%;
    overflow: hidden;
    margin-bottom: 60px;
}

#img-con{
    width: 12.8vw;
    height: 17.5vw;
}

.bolimg {
  background: url('../img/videography.png') no-repeat;
  background-size: contain;
  width: 110%;
  height: 100%;
  -webkit-transition: 0.1s ease-out;
  -moz-transition: 1s ease-out;
  -o-transition: 1s ease-out;
  -ms-transition: 1s ease-out;
  transition: 0.2s ease-out;
    -webkit-backface-visibility: hidden;
}

.bolimg:hover {
    -webkit-backface-visibility: hidden;
  background-image: url('../img/videography2.png'); 
 transform: scale(1.09);
}

/*-------------sfd-------------*/

.container2 {
   width: 90%;
   height: 75%;
  overflow: hidden;
    margin-bottom: 60px;
}

.bolimg2 {
  background: url('../img/photography.png') no-repeat;
  background-size: contain;
  width: 110%;
  height: 100%;
  -webkit-transition: 0.1s ease-out;
  -moz-transition: 1s ease-out;
  -o-transition: 1s ease-out;
  -ms-transition: 1s ease-out;
  transition: 0.2s ease-out;
    -webkit-backface-visibility: hidden;
}

.bolimg2:hover {
    -webkit-backface-visibility: hidden;
  background-image: url('../img/photography2.png'); 
 transform: scale(1.09);
}

/*-------------sfd-------------*/

.container3 {
  width: 90%;
   height: 75%;
  overflow: hidden;
    margin-bottom: 60px;
}

.bolimg3 {
  background: url('../img/motion-graphics.png') no-repeat;
  background-size: contain;
  width: 110%;
  height: 100%;
  -webkit-transition: 0.1s ease-out;
  -moz-transition: 1s ease-out;
  -o-transition: 1s ease-out;
  -ms-transition: 1s ease-out;
  transition: 0.2s ease-out;
    -webkit-backface-visibility: hidden;
}

.bolimg3:hover {
    -webkit-backface-visibility: hidden;
  background-image: url('../img/motion-graphicstwo.png'); 
 transform: scale(1.09);
}

/*-------------sfd-------------*/

.container4 {
 width: 90%;
   height: 75%;
  overflow: hidden;
    margin-bottom: 60px;
}

.bolimg4 {
  background: url('../img/ux-design.png') no-repeat;
  background-size: contain;
  width: 110%;
  height: 100%;
  -webkit-transition: 0.1s ease-out;
  -moz-transition: 1s ease-out;
  -o-transition: 1s ease-out;
  -ms-transition: 1s ease-out;
  transition: 0.2s ease-out;
    -webkit-backface-visibility: hidden;
}

.bolimg4:hover {
    -webkit-backface-visibility: hidden;
  background-image: url('../img/ux-design2.png'); 
 transform: scale(1.09);
}

/*-------------sfd-------------*/

.container5 {
 width: 90%;
   height: 75%;
  overflow: hidden;
    margin-bottom: 60px;
}

.bolimg5 {
  background: url('../img/graphic-design.png') no-repeat;
  background-size: contain;
  width: 110%;
  height: 100%;
  -webkit-transition: 0.1s ease-out;
  -moz-transition: 1s ease-out;
  -o-transition: 1s ease-out;
  -ms-transition: 1s ease-out;
  transition: 0.2s ease-out
      -webkit-backface-visibility: hidden;
}

.bolimg5:hover {
    -webkit-backface-visibility: hidden;
  background-image: url('../img/graphic-designtwo.png'); 
 transform: scale(1.09);
}

/*-------------sfd-------------*/

.container6 {
   width: 90%;
   height: 75%;
  overflow: hidden;
    margin-bottom: 60px;
}

.bolimg6 {
  background: url('../img/web-design.png') no-repeat;
  background-size: contain;
  width: 110%;
  height: 100%;
  -webkit-transition: 0.1s ease-out;
  -moz-transition: 1s ease-out;
  -o-transition: 1s ease-out;
  -ms-transition: 1s ease-out;
  transition: 0.2s ease-out;
    -webkit-backface-visibility: hidden;
}

.bolimg6:hover {
    -webkit-backface-visibility: hidden;
  background-image: url('../img/web-design.png'); 
 transform: scale(1.09);
}

/*-------------sfd-------------*/


@keyframes work {
    from {margin-top: 150px;};
    to {margin-top:250px};
}

.row {
    position: relative;
    width: 60vw;
    opacity: 0;
  display: flex;
    height: 24vw;
    margin-top: 110px;
  flex-wrap: wrap;
  padding: 0 4px 0px;
    margin-left: 38%;
    animation: work 1s forwards, opacity 0.5s forwards;
    animation-delay: 0s;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 5%;
  max-width: 25%;
  padding: 0px 10px;
}



@media screen and (max-width: 1380px) {

        #img-con{
    width: 17vw;
    height: 23vw;
}
    
    
  .column {
    flex: auto;
    max-width: 100%; 
  }
    
.container  {
  height: 45%;
    width: 15%;
    overflow: hidden;
    margin-bottom: 60px;
    clear: both;
}
    
     .row {
         position: absolute;
  display: flex;
    width: 60vw;
    height: 114vw;
  flex-wrap: wrap;
  padding: 0 px 0px;
margin-left: 455px;
    margin-top: 150px;
         justify-content: center;
         animation: work 1s forwards, opacity 0.5s forwards;
    animation-delay: 0s, 0.3s;
    }
    
  
    
    
}


/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 1024px) {
    
    @keyframes work2 {
    from {margin-top: 310px;};
    to {margin-top: -400px};
}
    
    #img-con{
    width: 22vw;
    height: 30vw;
}
    
    .row {
        position: absolute;
  display: flex;
    width: 90vw;
    height: 64vw;
  flex-wrap: wrap;
  padding: 0 px 0px;
margin-left: 45px;
    margin-top: 220px;
        justify-content: center;
        animation: work2 1s forwards ease, opacity 0.5s forwards;
    animation-delay: 0s, 0.3s;
    top: -40px;
}
    
  .column {
    flex: 45%;
    max-width: 25%;
  }
    
.container {
  height: 45%;
    width: 15%;
    overflow: hidden;
    margin-bottom: 40px;
}


/*-------------sfd-------------*/

.container2 {
  height: 45%;
    width: 95%;
    overflow: hidden;
    margin-bottom: 40px;
}


/*-------------sfd-------------*/

.container3 {
height: 45%;
    width: 95%;
    overflow: hidden;
    margin-bottom: 40px;
}



/*-------------sfd-------------*/

.container4 {
 height: 45%;
    width: 95%;
    overflow: hidden;
    margin-bottom: 40px;
}



/*-------------sfd-------------*/

.container5 {
 height: 45%;
    width: 95%;
    overflow: hidden;
    margin-bottom: 40px;
}



/*-------------sfd-------------*/

.container6 {
  height: 45%;
    width: 95%;
    overflow: hidden;
    margin-bottom: 40px;
}



}


@media screen and (max-width: 780px) {

        #img-con{
    width: 37vw;
    height: 50vw;
}
    
    .row {
        position: absolute;
  display: flex;
    width: 87vw;
    height: 174vw;
  flex-wrap: wrap;
  padding: 0 px 0px;
margin-left: 25px;
    margin-top: 220px;
        animation: work2 1s forwards, opacity 0.5s forwards;
    animation-delay: 0s, 0.3s;
        
        
        
        &:after {
    content: "";
    flex: auto;
}
    }
    
  .column {
    flex: auto;
    max-width: 44%; 
  }
    
.container  {
  height: 45%;
    width: 15%;
    overflow: hidden;
    margin-bottom: 40px;
    clear: both;
}
    
  
    
    
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 480px) {
    
    .row {
        position: absolute;
  display: flex;
  flex-wrap: wrap;
        margin-top: 60%;
        max-width: 100%;
        padding-right: vw;
        animation: work2 1s forwards, opacity 0.5s forwards;
    animation-delay: 0s, 0.3s;
}
    
  .column {
    flex: 100%;
    max-width: 100%;
  }
    
     
        #img-con{
    width: 72.8vw;
    height: 100.5vw;
}
        margin: 30px;
    }
    
    .container {
        height: 145%;
        width: 83%;
    }
    
    .container2 {
        height: 45%;
        width: 83%;
    }
    .container3 {
        height: 45%;
        width: 83%;
    }
    .container4 {
        height: 45%;
        width: 83%;
    }
    .container5 {
        height: 45%;
        width: 83%;
    }
    .container6 {
        height: 45%;
        width: 83%;
    }    

}
/*--------------contact --------------*/

/*--------------contact --------------*/

/*--------------contact --------------*/

/*--------------contact --------------*/

/*--------------contact --------------*/

/*--------------contact --------------*/
btn {
  margin-left: -100px;
  background-color: #638199;
  height: 40px;
  width: 180px;
  color: white;
  text-align: center;
  position: absolute;
  left: 1000px;
  margin-top: -100px;
  padding-top: -100px;
}

.btn2 {
  clear: both;
  padding-top: 10px;
  border: none;
  width: 40px;
  height: 30px;
  float: right;
  width: 100px;
  max-width: 100%;
  margin-top: -55px;
  margin-right: 15px;
  font-size: 14pt;
display: block;
}

.sidenav {
    display: none;
    z-index: 20;
    height: 100%; /* 100% Full-height */
    width: 200px; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 16; /* Stay on top */
    top: 90px;
    left: 00px;
    background-color: #f2f2f2; /* Black*/
    overflow-y: scroll;
    overflow-y: visible;/* Disable horizontal scroll */
    padding-top: 10px; /* Place content 60px from the top */
    transition: 0.2s; /* 0.5 second transition effect to slide in the sidenav */
    opacity: 0.97;
}

.sidenav a { 
     font-family: 'Source Sans Pro', sans-serif;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    letter-spacing: 6px;
    color: #ff9600;
    display: block;
    transition: 0.3s;
    height: 1vh;
}

.sidenav a:hover, .offcanvas a:focus{
    color:aqua;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media only screen and (max-width: 1024px) {
    
btn {
  margin-left: -100px;
  background-color: #638199;
  height: 40px;
  width: 180px;
  color: white;
  text-align: center;
  position: absolute;
  left: 1000px;
  margin-top: -100px;
  padding-top: -100px;
}

.btn2 {
  clear: both;
  padding-top: 10px;
  border: none;
  width: 40px;
  height: 30px;
  float: right;
  width: 100px;
  max-width: 100%;
  margin-top: -55px;
  margin-right: 15px;
  font-size: 14pt;
display: block;
}

.sidenav {
    display: block;
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 10; /* Stay on top */
    top: 90px;
    left: 00px;
    background-color: #f2f2f2; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 10px; /* Place content 60px from the top */
    transition: 0.2s; /* 0.5 second transition effect to slide in the sidenav */
    opacity: 0.97;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.sidenav a {
     font-family: 'Source Sans Pro', sans-serif;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 17px;
    margin-top: 40px;
    color: #ff9600;
    display: block;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #c17100;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

}


@media only screen and (max-height: 370px) {
    
    .sidenav a { 
     font-family: 'Source Sans Pro', sans-serif;
    padding: 0px 8px 8px 32px;
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 6px;
    color: #ff9600;
    display: block;
        margin-top: 35px;
    transition: 0.3s;
    height: 0vh;
}
    
    .hello2 {
        margin-top: -190px;
    }
    
    .aboutme2 {
        margin-top: -140px;
    }
    
       .form {
    opacity: 0;
    height: 100px;
    width: 100px;
    position: relative;
    top: 40px;
        right: 64%;
    animation: position 1.1s ease forwards, opacity 1s forwards;
    animation-delay: 0s;
    text-align: center;
   
}
    
    
    
}

